kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: neo4j-operator-test
nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        max-pods: "30"
networking:
  apiServerAddress: "127.0.0.1"
  apiServerPort: 6443
