neo4j:
  name: "test-helm"
  edition: "enterprise"
  acceptLicenseAgreement: "yes"
  minimumClusterSize: 3
  passwordFromSecret: "neo4j-helm-secret"
  resources:
    cpu: "1000m"
    memory: "2Gi"

volumes:
  data:
    mode: "defaultStorageClass"
    defaultStorageClass:
      requests:
        storage: 10Gi
